﻿
@{
    ViewBag.Title = "ApiHome";
}

<!DOCTYPE html>
<html>
<head>
	<title>Stackoverflow API</title>
	<style>
		table {
			width: 100%;
		}

		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}

		th, td {
			padding: 5px;
			text-align: left;
		}

		table#t01 tr:nth-child(even) {
			background-color: #eee;
		}

		table#t01 tr:nth-child(odd) {
			background-color: #fff;
		}

		table#t01 th {
			background-color: black;
			color: white;
		}

		body {
			font-family: "courier new";
		}
	</style>
</head>
<body>
	<center><font size="6"><h3>STACKOVERFLOW API</h3></font></center>
	A couple of post id's you can use to test: 7664, 45325, 85553, 142816 <br /><br />
	Parameter format: ?{nameParam}={value}&{nameParam2}={value2}&{...} <br /><br /><br />
	<table id="t01" style="width:80%">
		<tr>
			<td><b>Functionality</b></td>
			<td><b>Route</b></td>
			<td><b>Parameters (query string)</b></td>
		</tr>
		<tr>
			<td>UserApi</td>
			<td>api/users/{id}</td>
			<td>
				limit (int) default 25<br />
				offset (int) default 0<br />
			</td>
		</tr>
		<tr>
			<td>PostApi</td>
			<td>api/posts/{id}</td>
			<td>
				limit (int) default 25<br />
				offset (int) default 0<br />
			</td>
		</tr>
		<tr>
			<td>PostCommentApi</td>
			<td>api/posts/{id}/comments</td>
			<td>-</td>
		</tr>
		<tr>
			<td>CommentApi</td>
			<td>api/comments/{id}</td>
			<td>
				limit (int) default 25<br />
				offset (int) default 0<br />
			</td>
		</tr>
		<tr>
			<td>SearchHistoryEntryApi</td>
			<td>api/searchhistoryentries/</td>
			<td>
				searchString (string)<br />
				isWithBody (boolean) default false<br />
				isExact (boolean) default false<br />
				isAnnotated (boolean) default false<br />
				isSolved (boolean) default false<br />
			</td>
		</tr>
		<tr>
			<td>TagApi</td>
			<td>api/tags/{id}</td>
			<td>
				limit (int) default 25<br />
				offset (int) default 0<br />
			</td>
		</tr>
		<tr>
			<td>AnnotationApi</td>
			<td>api/posts/{postId}/annotation</td>
			<td>-</td>
		</tr>
		<tr>
			<td>AnnotationAllApi</td>
			<td>api/annotations</td>
			<td>
				limit (int) default 25<br />
				offset (int) default 0<br />
			</td>
		</tr>
		<tr>
			<td>DisplayPostsApi</td>
			<td>api/displayposts/{id}</td>
			<td>-</td>
		</tr>
		<tr>
			<td>DisplayCommentsApi</td>
			<td>api/displayposts/{id}/comments</td>
			<td>-</td>
		</tr>
		<tr>
			<td>SearchHistorySearchApi</td>
			<td>api/searchhistorysearch/</td>
			<td>
				searchString (string) default ""<br/>
				marked (int) default -1<br/>
				limit (int) default 25<br/>
				offset (int) default 0<br/>
			</td>
		</tr>
		<tr>
			<td>PostsSearchApi</td>
			<td>api/search/</td>
			<td>
				searchString (string)<br/>
				isWithBody (boolean) default false<br/>
				isExact (boolean) default false<br/>
				isAnnotated (boolean) default false<br/>
				isSolved (boolean) default false<br/>
				limit (int) default 25<br/>
				offset (int) default 0<br/>
			</td>
		</tr>
		<tr>
			<td>FavouritesSearchApi</td>
			<td>api/favourites/</td>
			<td>
				searchString (string) default ""<br />
				isWithBody (boolean) default false<br />
				isExact (boolean) default false<br />
				isAnnotated (boolean) default false<br />
				isSolved (boolean) default false<br />
				limit (int) default 25<br />
				offset (int) default 0<br />
			</td>
		</tr>
	</table>
	<br />
	Also, the full generated documentation is available <a href="../doc/">here</a>.
	<br />
	<br /><br />

	@*<b>UserApi</b>: api/users/{id}
		<br />
		<b>PostApi</b>: api/posts/{id}
		<br />
		<b>CommentApi</b>: api/comments/{id}
		<br />
		<b>SearchHistoryEntryApi</b>: api/searchhistoryentries/{id}
		<br />
		<b>SearchHistorySearchApi</b>: api/searchhistorysearch/{searchString} <br />
		parameters:
		<ul>
			<li>marked (int)</li>
		</ul>
		<b>TagApi</b>: api/tags/{id}
		<br />
		<b>AnnotationApi</b>: api/annotations/{id}
		<br />
		<b>PostsSearchApi</b>: api/search/{searchString} <br />
		parameters:
		<ul>
			<li>isWithBody (boolean)</li>
			<li>isExact (boolean)</li>
			<li>isAnnotated (boolean)</li>
			<li>isSolved (boolean)</li>
		</ul>
		<b>FavouritesSearchApi</b>: api/favourites/{searchString} <br />
		parameters:
		<ul>
			<li>isWithBody (boolean)</li>
			<li>isExact (boolean)</li>
			<li>isAnnotated (boolean)</li>
			<li>isSolved (boolean)</li>
		</ul>
		<b>DisplayPostsApi</b>: api/displayposts/{id}
		<br />
		<b>DisplayCommentsApi</b>: api/displaycomments/{postId}
		<br />
		<br />
		<br />*@
</body>
</html>