﻿<!--
REFERENCES
Collapsable dropdown https://jsfiddle.net/Wc4xt/1052/
Buttons inside panel http://www.bootply.com/Iu1IWlniGj
  -->
<!-- Search bar -->
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="input-group">
            <input class="form-control" data-bind="value: searchString, valueUpdate: 'afterkeydown', event:{keypress: handleEnterKey}" placeholder="Search for..." />
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit" data-bind="click: basicSearch" title="Search"><span class="glyphicon glyphicon-search"></span></button>
            </div>
            <div class="input-group-btn">
                <a class="btn btn-default" data-toggle="collapse" title="Show advanced options" data-target="#collapseOne">
                    <span class="glyphicon glyphicon-menu-down"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- Collapsable panel -->
    <div id="collapseOne" class="panel-collapse collapse">
        <li class="list-group-item">
            <label for="isWithBody">Search inside body</label>
            <div class="pull-right">
                <input name="isWithBody" id="isWithBody" type="checkbox" data-bind="bootstrapSwitch: isWithBody">
            </div>
        </li>
        <li class="list-group-item">
            <label for="isExact">Search for exact keywords</label>
            <div class="pull-right">
                <input name="isExact" id="isExact" type="checkbox" data-bind="bootstrapSwitch: isExact">
            </div>
        </li>
        <li class="list-group-item">
            <label for="isAnnotated">Search posts with annotations</label>
            <div class="pull-right">
                <input name="isAnnotated" id="isAnnotated" type="checkbox" data-bind="bootstrapSwitch: isAnnotated">
            </div>
        </li>
        <li class="list-group-item">
            <label for="isSolved">Search posts with accepted solution</label>
            <div class="pull-right">
                <input name="isSolved" id="isSolved" type="checkbox" data-bind="bootstrapSwitch: isSolved">
            </div>
        </li>
    </div>
</div>


<!-- Search rating -->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-9 col-lg-offset-8 col-md-offset-8 col-sm-offset-6 col-xs-offset-3">
        <div class="alert alert-info" role="alert" data-bind="css: {hidden: (searchPerformed() && showFlag()) == false}">
            <div class="input-group">
                <span>Did you find this search useful?</span>

                <div class="input-group-btn btn-group-xs">
                    <button class="btn btn-success" data-bind="click: function() {rateHistory(1)}, style: {width: selectedRating() == 1? '40px' : '25px', height: selectedRating() == 1? '24px' : '22px'} " title="Positive search"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                </div>
                <div class="input-group-btn btn-group-xs">
                    <button class="btn btn-danger" data-bind="click: function() {rateHistory(-1)}, style: {width: selectedRating() == -1? '40px' : '25px', height: selectedRating() == -1? '24px' : '22px'} " style="margin-left: 2px;" title="Negative search"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                </div>

                <div class="input-group-btn btn-group-xs">
                    <button class="btn btn-default" data-bind="click: hideButton()" style="margin-left: 6px; border-radius: 24px;" title="Hide"><span>&times;</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Result display -->
<div data-bind="foreach: results">
    <div class="panel panel-white postlist panel-shadow">
        <div class="postlist-heading">
            <div class="pull-left meta">
                <span data-bind="click: $parent.switchFavourite.bind($data), css: {'glyphicon-star': favourite, 'glyphicon-star-empty': !favourite}" class="btn pull-right glyphicon" title="Set/unset as favourite"></span>
                <div class="title h4">
                    <a href="#" data-bind="click: $root.showPost.bind($data)"><b data-bind="text: title"></b></a>
                </div>
                <h6 class="text-muted time" data-bind="text: author + ', on ' + creationDate"></h6>
            </div>
        </div>
        <div class="postlist-description">
            <p data-bind="text: body"></p>
            <div class="stats">
                <span data-bind="css: {hidden: $parent.isPostSolved($data) == false}" class="label label-success" title="With validated answer">Solved</span>
                <span class="label label-primary" data-bind="text: answerCount + ' Answer(s)'"></span>
                <span data-bind="css: {hidden: $parent.isPostAnnotated($data) == false}" class="label label-primary ">Annotated</span>
            </div>
        </div>
    </div>
</div>

<!-- No more results -->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-2">
        <div class="panel panel-info" data-bind="css: {hidden: !searchPerformed() || isNextPage() == true}">
            <div class="panel-heading text-center">
                <strong>NO MORE RESULTS</strong>
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
<nav>
    <ul class="pager" data-bind="css: {hidden: searchPerformed() == false}">
        <li class="previous" data-bind="click: loadPrevPage, css: {disabled: !isPrevPage()}" title="Previous page"><a href="#"><span>&larr;</span> Prev</a></li>
        <li class="next" data-bind="click: loadNextPage, css: {disabled: !isNextPage()}" title="Next page"><a href="#">Next <span>&rarr;</span></a></li>
    </ul>
</nav>