﻿<div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
    <h1><b>S</b>tack</h1>
    <h1><b>O</b>verflow</h1>
    <h1><b>V</b>iewer <small>and</small></h1>
    <h1><b>A</b>nnotator</h1>

    <br />
    <br />
    <br />
    <h3>With SOVA you can:</h3>
</div>

<div class="col-lg-9 col-md-9 col-sm-11 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-1 col-xs-offset-2">
    <button class="btn btn-info btn-lg active" title="Basic search" style="border-color:black"><span class="glyphicon glyphicon-search" style="top: 2px"></span> Search for posts</button>
    <button class="btn btn-info btn-lg active" title="Favourite search" style="border-color:black"><span class="glyphicon glyphicon-star" style="top: 2px"></span> Search for favourites</button>
</div>

<div class="col-lg-9 col-md-9 col-sm-11 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-1 col-xs-offset-2" style="top: 3px">
    <button class="btn btn-info btn-lg active" title="Annotation" style="border-color:black"><span class="glyphicon glyphicon-pencil" style="top: 2px"></span> View &amp; annotate</button>
    <button class="btn btn-info btn-lg active" title="History search" style="border-color:black"><span class="glyphicon glyphicon-calendar" style="top: 2px"></span> Browse search history</button>
</div>