﻿<div data-bind="css : {hidden: ready() == false}">
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<div class="panel panel-white post panel-shadow">
				<div class="col-md-12 post-heading">
					<div class=" pull-left meta">
						<span data-bind="click: switchFavourite.bind(question()), css: {'glyphicon-star': question().favourite, 'glyphicon-star-empty': !question().favourite}" class="btn pull-right glyphicon"></span>
						<div class="title h4">
							<b data-bind="text: question().title"></b>
						</div>
						<h6 class="text-muted time" data-bind="text: question().username + ', on ' + question().creationDate"></h6>
					</div>
				</div>
				<div class="post-description">
					<p data-bind="html: question().body"></p>
					<div class="stats">
						<span data-bind="css: {hidden: isPostSolved(question()) == false}" class="label label-success">Solved</span>
						<span class="label label-primary">
							<span class="glyphicon glyphicon-thumbs-up" style="top: 2px;"> </span>
							<span data-bind="text: question().score"></span>
						</span>
						<a class="labelCount" href="#" data-bind="click: showQuestionComments.bind()">Comments <span class="badge " data-bind="text: question().commentCount"></span></a>
						<span data-bind="css: {hidden: isPostAnnotated(question()) == false}" class=" label label-primary ">Annotated</span>
					</div>
				</div>
				<div class="post-footer" data-bind="if:areCommentsShown(question()) ">
					<ul class="comments-list" data-bind="css: {hidden: areCommentsShown(question()) == false}, foreach: question().comments">
						<li class="comment">
							<div class="comment-body">
								<div class="comment-heading">
									<h5 class="time" data-bind="text: $data.username + ' , on ' + $data.creationDate"></h5>
								</div>
								<p data-bind="html: $data.body"></p>
								<div>
									<p>
										<span class="label label-primary">
											<span class="glyphicon glyphicon-thumbs-up"> </span>
											<span data-bind="text: $data.score"></span>
										</span>
										<hr>
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<textarea placeholder="Type annotation here..." style="resize: vertical;" data-bind="text: question().annotation, textInput: userAnnotation," class="textanno form-control"></textarea>
			<button data-bind="click: saveAnnotation" class=" btn btn-success btn-block btnanno" data-toggle="modal">Save Annotation</button>
		</div>
	</div>
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Annotation saved</h4>
				</div>

			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-bind="foreach: answers">
		<div class="panel  panel-white panel-shadow" data-bind=" css: {'postanswervalidated': $parent.isValidatedAnswer($data), 'postanswer': !$parent.isValidatedAnswer($data)}">
			<div data-bind=" css: {'postanswervalidated-heading': $parent.isValidatedAnswer($data), 'postanswer-heading': !$parent.isValidatedAnswer($data)}">
				<div class="pull-left meta">
					<span data-bind="css: {'glyphicon-ok': $parent.isValidatedAnswer($data)}" class="btn pull-right glyphicon"></span>
					<h6 class="text-muted time" data-bind="text: username + ', on ' + creationDate"></h6>
				</div>
			</div>
			<div data-bind=" css: {'postanswervalidated-description': $parent.isValidatedAnswer($data), 'postanswer-description': !$parent.isValidatedAnswer($data)}">
				<p data-bind="html: body"></p>
				<div class="stats">
					<span data-bind="css: {hidden: $parent.isValidatedAnswer($data) == false}" class="label label-success">Validated Answer</span>
					<span class="label label-primary">
						<span class="glyphicon glyphicon-thumbs-up" style="top: 2px;"> </span>
						<span data-bind="text: score"></span>
					</span>
					<a class="labelCount" href="#" data-bind="click: $parent.showComments.bind($data)">Comment(s) <span class="badge " data-bind="text: ' ' + commentCount "></span></a>
				</div>
			</div>
			<div data-bind="if:$parent.areCommentsShown($data), css: {'postanswervalidated-footer': $parent.isValidatedAnswer($data), 'postanswer-footer': !$parent.isValidatedAnswer($data)}">
				<ul class="comments-list" data-bind="css: {hidden: $parent.areCommentsShown($data) == false}, foreach: $data.comments">
					<li class="comment">
						<div class="comment-body">
							<div class="comment-heading">
								<h5 class="time" data-bind="text: $data.username + ' , on ' + $data.creationDate"></h5>
							</div>
							<p data-bind="html: $data.body"></p>
							<div>
								<p>
									<span class="label label-primary">
										<span class="glyphicon glyphicon-thumbs-up"> </span>
										<span data-bind="text: $data.score"></span>
									</span>
									<hr>
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>