﻿<!-- Search bar -->
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="input-group">
            <input class="form-control" data-bind="value: searchString, valueUpdate: 'afterkeydown', event:{keypress: handleEnterKey}" placeholder="Search in history for..." />
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit" data-bind="click: historySearch" title="Search"><span class="glyphicon glyphicon-search"></span></button>
            </div>
            <div class="input-group-btn">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Rating <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li data-bind="css: {active: isSelected(1)}">
                            <a href="" data-bind="click: function() {changeSelection('Good only', 1)}">
                                Good only <small><span data-bind="css: {hidden: !isSelected(1)}" class="glyphicon glyphicon-ok"></span></small>
                            </a>
                        </li>
                        <li data-bind="css: {active: isSelected(0)}">
                            <a href="" data-bind="click: function() {changeSelection('Unrated or Good', 0)}">
                                Unrated or Good <small><span data-bind="css: {hidden: !isSelected(0)}" class="glyphicon glyphicon-ok"></span></small>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li data-bind="css: {active: isSelected(-1)}">
                            <a href="" data-bind="click: function() {changeSelection('All', -1)}">
                                All <small><span data-bind="css: {hidden: !isSelected(-1)}" class="glyphicon glyphicon-ok"></span></small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Loading results -->
<h4 data-bind="css : {hidden : results().length != 0 || searchPerformed()}" class="text-center">Loading search history...</h4>

<!-- Result display -->
<div data-bind="foreach: results">
    <div class="panel panel-white postlist panel-shadow">
        <div class="panel-body">
            <table width="100%">
                <tr>
                    <td align="left" width="20px">
                        <span data-bind="css : {'searchhistory-glyphicon-success  glyphicon-thumbs-up': $parent.isMark($data, 1), 'searchhistory-glyphicon-danger  glyphicon-thumbs-down': $parent.isMark($data, -1), 'searchhistory-glyphicon-info  glyphicon-minus': $parent.isMark($data, 0)}, style: {top: $parent.isMark($data, 0) ? '3px' : '0px'}" class="glyphicon searchhistory-glyphicon-success"></span>
                    </td>
                    <td align="center">
                        <span><a href="" style="word-break:break-all;" class="pull-left" data-bind="click : $root.performSearch.bind($data), text: searchString"></a></span>
                    </td>
                    <td align="right">
                        <span data-bind="text: date"></span>
                    </td>
                </tr>
            </table>

        </div>
        <div data-bind="css: {hidden: !isWithBody && !isExact && !isAnnotated && !isSolved}" class="panel-footer">
            <span class="label" data-bind="css : {'label-success' : isWithBody, hidden : !isWithBody }"><span class="glyphicon" data-bind="css : {'glyphicon-ok' : isWithBody, hidden : !isWithBody}"></span><span data-bind="css: {hidden: !isWithBody}">Search inside body</span></span>
            <span class="label" data-bind="css : {'label-success' : isExact, hidden : !isExact}"><span class="glyphicon" data-bind="css : {'glyphicon-ok' : isExact, hidden : !isExact}"></span><span data-bind="css: {hidden: !isExact}">Search for exact keywords</span></span>
            <span class="label" data-bind="css : {'label-success' : isAnnotated, hidden : !isAnnotated}"><span class="glyphicon" data-bind="css : {'glyphicon-ok' : isAnnotated, hidden : !isAnnotated}"></span><span data-bind="css: {hidden: !isAnnotated}">Search posts with annotations</span></span>
            <span class="label" data-bind="css : {'label-success' : isSolved, hidden : !isSolved}"><span class="glyphicon" data-bind="css : {'glyphicon-ok' : isSolved, hidden : !isSolved}"></span><span data-bind="css: {hidden: !isSolved}">Search posts with accepted solution</span></span>
        </div>
        <!--<div class="postlist-heading">
            <div class="pull-left meta">
                <div class="title h4">
                    <a href="#" data-bind="click: $root.performSearch.bind($data)"><b data-bind="text: title"></b></a>
                </div>
                <h6 class="text-muted time" data-bind="text: author + ', on ' + creationDate"></h6>
            </div>
        </div>
        <div class="postlist-description">
            <p data-bind="text: body"></p>
            <div class="stats">
                <span data-bind="css: {hidden: $parent.isPostSolved($data) == false}" class="label label-success" title="With validated answer">Solved</span>
                <span class="label label-primary" data-bind="text: answerCount + ' Answer(s)'"></span>
                <span data-bind="css: {hidden: $parent.isPostAnnotated($data) == false}" class="label label-primary ">Annotated</span>
            </div>
        </div>-->
    </div>
</div>

<!-- No more results -->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-2">
        <div class="panel panel-info" data-bind="css: {hidden: !searchPerformed() || isNextPage() == true}">
            <div class="panel-heading text-center">
                <strong>NO MORE RESULTS</strong>
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
<nav>
    <ul class="pager" data-bind="css: {hidden: searchPerformed() == false}">
        <li class="previous" data-bind="click: loadPrevPage, css: {disabled: !isPrevPage()}" title="Previous page"><a href="#"><span>&larr;</span> Prev</a></li>
        <li class="next" data-bind="click: loadNextPage, css: {disabled: !isNextPage()}" title="Next page"><a href="#">Next <span>&rarr;</span></a></li>
    </ul>
</nav>