﻿body {
    padding-top: 75px;
    padding-bottom: 20px;
    background-color: #F8F8FF;
}

hr {
    border-top: 1px solid #dddddd !important;
}

/* Post question with comments*/

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.btnanno {
    
  box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
    margin-bottom: 20px;
}

.textanno {
    
  box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
  border: 1px solid #dddddd;
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  padding: 5px 15px 0 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 10px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: -20px ;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

/* Post list*/

.postlist .postlist-heading {
  padding: 5px 15px 0 15px;
}
.postlist .post-headinglist .meta .title {
  margin-bottom: 0;
}
.postlist .postlist-heading .meta .title a {
  color: black;
}
.postlist .postlist-heading .meta .title a:hover {
  color: #aaaaaa;
}
.postlist .postlist-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.postlist .postlist-description {
  padding: 15px;
}
.postlist .postlist-description p {
  font-size: 14px;
}
.postlist .postlist-description .stats {
  margin-top: 10px;
}
.postlist .postlist-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.postlist .postlist-description .stats .stat-item .icon {
  margin-right: 8px;
}

.post-heading > div {
    width: 100%;
}

.postlist-heading > div {
    width: 100%;
}

.postanswer-heading > div {
    width: 100%;
}

.postanswervalidated-heading > div {
    width: 100%;
}

/* Post answer with comments*/

.postanswer .postanswer-heading {
 padding: 5px 15px 20px 15px;
}
.postanswer .postanswer-heading .meta .title {
  margin-bottom: 0;
}
.postanswer .postanswer-heading .meta .title a {
  color: black;
}
.postanswer .postanswer-heading .meta .title a:hover {
  color: #aaaaaa;
}
.postanswer .postanswer-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.postanswer .postanswer-description {
  padding: 15px;
}
.postanswer .postanswer-description p {
  font-size: 14px;
}
.postanswer .postanswer-description .stats {
  margin-top: 10px;
}
.postanswer .postanswer-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.postanswer .postanswer-description .stats .stat-item .icon {
  margin-right: 8px;
}
.postanswer .postanswer-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.postanswer .postanswer-footer .input-group-addon a {
  color: #454545;
}
.postanswer .postanswer-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.postanswer .postanswer-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: -20px ;
}
.postanswer .postanswer-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.postanswer .postanswer-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.postanswer .postanswer-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.postanswer .postanswer-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.postanswer .postanswer-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

/* Post answer VALIDATED with comments*/
.postanswervalidated {
    background-color: #dff0d8;
}
    
.postanswervalidated .postanswervalidated-heading {
 padding: 5px 15px 20px 15px;
}
.postanswervalidated .postanswervalidated-heading .meta .title {
  margin-bottom: 0;
}
.postanswervalidated .postanswervalidated-heading .meta .title a {
  color: black;
}
.postanswervalidated .postanswervalidated-heading .meta .title a:hover {
  color: #aaaaaa;
}
.postanswervalidated .postanswervalidated-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.postanswervalidated .postanswervalidated-description {
  padding: 15px;
}
.postanswervalidated .postanswervalidated-description p {
  font-size: 14px;
}
.postanswervalidated .postanswervalidated-description .stats {
  margin-top: 10px;
}
.postanswervalidated .postanswervalidated-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.postanswervalidated .postanswervalidated-description .stats .stat-item .icon {
  margin-right: 8px;
}
.postanswervalidated .postanswervalidated-footer {
  border-top: 1px solid #d6e9c6;
  padding: 15px;
}
.postanswervalidated .postanswervalidated-footer .input-group-addon a {
  color: #454545;
}


.postanswervalidated .postanswervalidated-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.postanswervalidated .postanswervalidated-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: -20px ;
}
.postanswervalidated .postanswervalidated-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.postanswervalidated .postanswervalidated-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.postanswervalidated .postanswervalidated-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.postanswervalidated .postanswervalidated-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.postanswervalidated .postanswervalidated-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}


.labelCount {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  color: #4ea7df;
  border-radius: .25em;
}

.navbar-brand {
	padding: 11px;
}

.searchhistory-glyphicon-success {
	color: #5cb85c;
	//font-size: 25px;
}
.searchhistory-glyphicon-danger {
	color: #d9534f;
}
.searchhistory-glyphicon-info {
	color: #337AB7;
}